html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;text-decoration: none; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }
.clearFix{width:100%;clear:both;}

*::selection{
	background-color: #a62b2b;
	color:#fff;
}
.hrLine{
	width: 100px;
	line-height: 22px;
	background-color: #a62b2b;
	text-shadow: 0 0 3px rgba(0,0,0,.3);
	text-align: center;
	margin: 0px auto 20px;
	padding: 5px 0 3px;
	position: relative;
}
.hrLine:after{
	content: '';
	position: absolute;
	left: 0;right: 0;margin: auto;
	width: 0;height: 0;
	border-style: solid;
	border-width: 7px;
	border-color: #a62b2b transparent transparent transparent;
}
.hrLine .chinese1{color:#fff;}
.hrLine .english{color:#edeee4;}
/*==================*/
.gototop{
	position: fixed;
	z-index: 999;
	bottom: -10px;right:15px;
	width: 40px;height: 53px;
	cursor: pointer;
	background:url(img/letterLogo_t.png) no-repeat top center;
	background-size: cover;	
	opacity: 0; 
}
.gototop:after{
	content: 't o p';
	position: absolute;
	bottom: 0;left: 0;right: 0;
	margin:auto;text-align: center;
	font-family: arial;
	font-size: 15px;
	color: #a62b2b;
/*	text-shadow: 3px 2px 1px #aaa;*/
}
.gototop:hover{
	animation: upDown .3s alternate infinite; 
}
.ons {
  bottom: 15px;
  right: 15px;
  opacity: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

 @keyframes upDown{
	0%{transform: translateY(0px);}
	100%{transform: translateY(-10px);}
}
/*==================*/
.container960{
	margin:auto;
	position: relative;
	box-sizing: border-box;
}
.container960_np{
	margin:auto;
	position: relative;box-sizing: border-box;
}
#hamlist{
	position: fixed;
	top: 45px;
	left: 0;
	opacity: 0;}
.cartBar{
	position: fixed;top: 0;
	z-index: 998;
	width: 100%;
	background-color: rgba(255,255,255,.9);
	box-shadow: 0 1px 2px rgba(255,255,255,.5);
}
.cart{
	box-sizing: border-box;
	padding: 10px 20px;
}
.hambeger{
	display: block;
	float: left;
	cursor:pointer;
	width: 25px;height: 25px;
	position: relative;
}
.hambeger:before{
	content: url('icon/Hamburger.png');
	position: absolute;
	top: 0;left: 0;bottom: 0;right: 0;margin:auto;
	transform: rotateZ(0deg);
	transition: .5s;
	opacity: 1;	
}
.hambeger:after{
	content: url('icon/cancel.png');
	position: absolute;top: 0;left: 0;right: 0;bottom: 0;
	margin: auto;
	transform: rotateZ(180deg);
	opacity: 0;	
}
#hamlist:checked~.cartBar .hambeger:before{
	transition: 0s;
	opacity: 0;
	transform: rotateZ(-180deg);
}
#hamlist:checked~.cartBar .hambeger:after{
	transition: .5s;
	transform: rotateZ(0deg);
	opacity: 1;
}
.hamNav{
	position: fixed;
	z-index: 999;
	top:45px;left: -100%;
	width: 100%;height: 100%;
	background-color: rgba(0,0,0,.7);
	text-align: center;
	text-shadow: 2px 2px 2px #000;
	line-height: 35px;
	transition: 1s;
}
#hamlist:checked+.hamNav{
	left: 0;
}
.hamNav>li{
	padding:15px 0; 
}
.hamNav>li+li{
	border-top: 2px dotted rgba(255,255,255,.3);
}
.hamNav a{
	display: block;width: 100px;
	margin: auto;
	position: relative;
}
.hamNav a:before{
	content: '';
	position: absolute;top: 50%;left: 0;right: 0;margin: auto;
	width: 100%;height: 1px;background-color: rgba(255,255,255,.5);
}
.hamNav .chinese1{color:#fff;}
.hamNav .english{color:#eee;}

.cart>a{
	float: right;
	display:block;
	width:25px;height:25px;
}
.cart>a>img{width:100%;height: 100%;}
/**/
.navgation1{
	box-sizing: border-box;
	margin-top: 45px;
	font-size: 0;
	padding-bottom: 30px;
}
.navgation1 .item3{
	display: inline-block;
	vertical-align: bottom;
}
.logo{
	margin: auto;
	width: 120px;height: 165px;position: relative;
	perspective: 300px;
}
.logo img{
	position: absolute;top: 0;left: 0;
}
.list li{
	display:inline-block;
	box-sizing: border-box;
	padding: 0 55px;
	text-align: center;
}
.list a{
	display: block;
	width: 100px;
	line-height: 25px;
	position: relative;
}
.list a .chinese1{color:#000;}
.list a .english{color:#4d4d4d;}

.list a:after{
	content: '';
	position: absolute;top: 50%;left: 0;right:0;margin: auto;
	width: 100%;height: 1px;
	background-color: #ddd;
}
.list a:before{
	content: '';
	position: absolute;top: 50%;left: 0;right:0;margin: auto;
	width: 0%;
	height: 1px;
	z-index:1;
	background-color: #c23332;
	transition: .3s;
}
.list li:hover a:before{
	width: 100%;
}
.logoRotate{
	animation: logoRotate 1.5s;
}
.logo:hover .logoRotate{
	transform: rotateY(360deg);
	transition: 1s;
}
@keyframes logoRotate{
	0%{transform: rotateY(0deg);}
	100%{transform: rotateY(360deg);}
}
/*==================*/
a[href="pen.html"]:after{
	background-color:#c23332;
}
.headImg{
	background:url(img/CJKEyF.jpeg) center center fixed;
	background-size: cover;
}
.headImg img{
	display: block;
	width: 100%;height: auto;
}
/*==================*/
.breadcrumbs{
	box-sizing: border-box;
	padding: 30px 0;
	font-size: 0;
}
.floatSearch{
	float: right;
	box-sizing: border-box;
	padding: 3px;
	border:1px solid transparent;
	border-radius: 1px;
}
#search{
	display: inline-block;
	vertical-align: middle;
	border:none;
	width: 40px;
	margin-right: 3px;
	padding: 3px;
	transition: .5s;
	font-size: 12px;
}
#search:focus{
	width: 100px;
	border:none;outline: none;
}
#searchBtn{
	display: inline-block;
	border: none;width: 20px;height: 20px;
	background:url(icon/search-24.png);
	background-size: 20px;
	cursor:pointer;vertical-align: middle; 
}
.bread{margin-top: 10px;}
.bread li{
	position: relative;
	font-size: 12px;
	display: inline-block;
}
.where{float:left;color:#999;}
.where a{color: #999;}
.where a:hover{color:#000;}
.where li:last-child a{color: #000;}
.where li:last-child:before{
	content: "you're here";
	position: absolute;
	text-align: center;
	top: -22px;left: 5px;
	color: #c23332;
	width: 80px;
	text-shadow: 4px 3px 1px #aaa;
	opacity: 0;
}
.where li:last-child:hover:before{opacity: 1;}
.sequence{float: right;}
.sequence a{color:#999;}
.sequence a:hover{color: #000;}
.sequence li:last-child a{color:#000;}
/*==================*/
.goList{text-align: center;font-size: 0;margin: 30px 0;}
.goList li{
	display: inline-block;
	padding: 3px 10px;
}
.goList li+li{
	border-left: 1px solid #ccc;
	display: inline-block;
}
.goList li a{
	display: block;
	width: 20px;height: 20px;
	color:#999;
	line-height: 20px;
	font-size: 12px;
}
.goList li a:hover{color:#000;}
.goList li:first-child a{color:#000;}
/*==================*/
.classSort{
	font-size: 0;
	position: relative;
}
.classSort:after{
	content: '';
	position: absolute;
	bottom: 0;left: 0;right: 0;margin: auto;
	width: 100%;height: 1px;background-color: #999;
}
.classSort li{
	display: inline-block;
	font-size: 14px;
}
.classSort li label{
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	display: block;
	width: 70px;
	padding: 3px 5px;
	color: #999;
	background-color: #fff;
	border-radius: 3px 3px 0 0;
}
#allLabel{
	color: #fff;
	background-color: #4d4d4d;
}
/* **************** */
#allCheck,#penCheck,#toolCheck{
	position: fixed;top: 50%;left: 50%;
	z-index: -1;opacity: 0;
}
#section2,#section3{display: none;}
/* **************** */
.products{
	padding: 0 0 80px;font-size: 0;
}
.item9{
	display: inline-block;
	box-sizing: border-box;
}
.pBox{
	box-sizing: border-box;
	width: 100%;
	padding: 3.125%;
	font-size: 0;
}
.pPic{
	width: 100%;
	position: relative;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px rgba(0,0,0,.3);
	overflow: hidden;
}
.proLink:hover .pPic{
	box-shadow: 3px 3px 2px rgba(0,0,0,.2);
}
.seeMore{
	text-align: center;
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	z-index: 1;
	transition: .7s;
	opacity: 0;
	transform: translateY(-125px);
	position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
	background-image: linear-gradient(90deg,hsla(0, 58%, 40%, 0) 0%,hsla(0, 58%, 40%, .8) 35%,hsla(0, 58%, 40%, .8) 65%,hsla(0, 58%, 40%, 0) 100%);
}
.proLink:hover .seeMore{
	opacity: 1;
	transform: translateY(0px);
}
.seeMore p{
	transform: translateY(-22px);
	opacity: .5;
	transition: 1.5s;
	text-shadow: 1px 1px 3px rgba(0,0,0,.6);
}
.proLink:hover .seeMore p{
	transform: translateX(0px);
	opacity: 1;
}
.proLink:hover .seeMore{
	top: 0;left: right: 0;bottom: 0;
	transition: .7s;
}
.pPic:before{
	content: '';
	position: absolute;
	top: 0;left: 0;
	width: 30%;height: 50%;
	border-top: 0px solid #c23332;
	border-left: 0px solid #c23332;
	transition: .7s;
	opacity: 0;
	z-index: 2;
}
.pPic:after{
	content: '';
	position: absolute;
	bottom: 0;right: 0;
	width: 30%;height: 50%;
	border-bottom: 0px solid #c23332;
	border-right: 0px solid #c23332;
	opacity: 0;
	transition: .7s;
	z-index: 2;
}
.proLink:hover .pPic:before{
	width: 100%;height: 100%;
	opacity: 1;
	border-top: 1px solid #c23332;
	border-left: 1px solid #c23332;
}
.proLink:hover .pPic:after{
	width: 100%;height: 100%;
	opacity: 1;
	border-bottom: 1px solid #c23332;
	border-right: 1px solid #c23332;
}
.pPic img{width: 100%;height: auto;}
.pOpa{
	opacity: 1;
	width: 100%;
	transition: .7s;
}
.proLink:hover .pOpa{
	opacity: .5;
}
.pTxt{
	padding-top: 5px;
	width: 100%;position: relative;
	box-sizing: border-box;
	text-align: center;
}
.pName{
	box-sizing: border-box;
	padding-top: 5px;
	height: 30px;
	font-size: 15px;
	color: #000;
	transition: .7s;
}
.proLink:hover .pName{
	color:#c23332;
}
.price{
	box-sizing: border-box;
	padding-top: 5px;
	font-size: 14px;
	color:#4d4d4d;
}
/*==================*/
.newTab{
	width:50px;
	position: absolute;
	top:0px;left: 0;
	z-index: 3
}
.newTab img{width: 100%;height: auto;}
/*==================*/
footer{
	box-sizing: border-box;
	position: relative;
	background-color:hsl(65, 27%, 86%);
	padding:15px 0px 5px; 
	font-size: 0px;
}
.footerLeft{line-height: 17px;box-sizing: border-box;}
.footerLeft p{color:rgb(119, 119, 119);font-size: 12px;}
.footerLeft p:first-child{color:#000;font-size: 13px;}
.footList{text-align: center;}
.footList li{
	display: inline-block;
	padding: 5px;
}
.footList li+li{border-left: 1px solid hsl(65, 10%, 75%);}

.footList li a{
	font-size: 12px;
	padding: 0 5px;
	color:#000;
}
.footList li a:hover{color:#c23332;}
.footerRight .icon{
	float: right;
	width: 24px;height: 24px;
	margin-left:10px;
	border-radius: 50%;
	transition: .5s;
	position: relative;
}
.footerRight .icon:hover{transform: translateY(-3px);}
.footerRight .icon img{
	border-radius: 50%;
	width:100%;height: 100%;
}
.copyright{
	margin-top: 3px;
	text-align: center;
	font-size: 12px;
	color: hsl(65, 10%, 70%);
	font-family: "arial";
}
/*==================*/
div[class^="col-"]{
	box-sizing: border-box;
	float: left;
	position: relative;
}
div[class^="inline-"]{
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

@media screen and (max-width: 766px){
	.col-xs-6{ width: 50%;}
	.inline-xs-6{width: 50%;}
	.col-xs-9{ width: 75%;}
	.col-xs-12{width: 100%;}
	.container960{width:100%;padding:0 10px;}
	.container960_np{width: 100%}
	.mb-hide{display: none;}
	.mb-show{display: block;}
	.xs-hide{display:none;}
	.ld-hide{display:block;}
	.inlin-mb-hide{display:none;}
	.item9{width: 33.333333333%;}
	.gototop{display: none;}
}

@media screen and (max-width: 520px){
	.col-xss-12{width: 100%;}
	.col-xss-6{ width: 50%;}
	.inline-xss-6{width: 50%;}
	.mb-hide{display: none;}
	.ld-hide{display:none;}
	.inlin-mb-hide{display:none;}
	.item9{width: 100%;}
	.item9+.item9 .pBox{border-top: 1px dashed #ccc;}
	.pPic{width:33.333333333%;display: inline-block;vertical-align: middle;}
	.pTxt{width: 66.666666666%;display: inline-block;vertical-align: middle;text-align: left;padding-left: 20px;}
	.pName{padding-top: 0;}
	.seeMore{display: none}
	.proLink:hover .pOpa{opacity: 1;}
	.newTab{width: 35px;}
	.gototop{display: none;}
}
@media screen and (min-width: 767px){
	.col-sm-3{ width: 25%;}
	.inline-sm-3{width: 25%;}
	.col-sm-4{ width: 33.33333333%;}
	.col-sm-5{ width: 41.66666666%;}
	.col-sm-6{ width: 50%;}
	.inline-sm-6{width: 50%;}
	.col-sm-7{ width: 58.33333333%;}
	.col-sm-8{ width: 66.66666666%;}
	.col-sm-9{ width: 75%;}
	.col-sm-10{	width: 83.33333333%;}
	.col-sm-11{	width: 91.66666666%;}
	.col-sm-12{	width: 100%;}
	.container960{width:100%;padding:0 10px;}
	.container960_np{width: 100%}
	.mb-hide{display: none;}
	.mb-show{display:block;}
	.xs-hide{display:block;}
	.ld-hide{display:block;}
	.inlin-mb-hide{display:none;}
	.footerLeft{padding-left:10px;}
	.footerRight{padding-right:10px;}
	.item9{width: 33.333333333%;}
	.gototop{display: none;}
}
@media screen and (min-width: 970px){	
	.col-md-4{ width: 33.33333333%;}
	.col-md-12{	width: 100%;}
	.inline-md-3{width: 25%;}
	.inline-md-6{width: 50%;}
	.container960{width:960px;padding: 0px;}
	.container960_np{width: 960px;}
	.mb-hide{display: block;}
	.mb-show{display:none;}
	.ld-hide{display:none;}
	.inlin-mb-hide{display: inline-block;}
	.item9{width: 33.333333333%;}
	.gototop{display: block;}
}
